<a href="https://colab.research.google.com/github/adityajain2407/mar23-python-fast/blob/main/may23_control_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
54 <= 67 #conditional statement

True

In [3]:
65 >= 30

True

In [4]:
(54 <= 67) and (65 >= 30)

True

In [5]:
(54 <= 67) and (65 < 30) and (7 > 5)

False

In [6]:
(54 <= 67) or (65 < 30) or (7 > 5)

True

In [7]:
(5 > 8) or (3 > 10)

False

In [8]:
(5 > 8) or (3 < 10)

True

In [9]:
a = 10

(a<2) or (a == 20) or (a>5)

True

In [10]:
a = 10

(a<2) and (a == 20) and (a>5)

False

In [11]:
a = 10

(a<2) and (a == 10) and (a>5)

False

In [12]:
#not operator

In [13]:
10 < 5

False

In [14]:
not(10 < 5)

True

In [15]:
not(5 == 5)

False

In [16]:
5 == 5

True

In [17]:
a = 10
not (a > 5 and a > 7)

False

In [18]:
not ( a < 5 or a > 7)

False

In [20]:
#control flow - using if-else statement

In [21]:
n = 5

In [22]:
n%2 == 0

False

In [23]:
n = 5

if n%2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [26]:
n = 8

if n%2 == 0:
  print("Even")
else:
  print("Odd")

Even

In [27]:
#Take a number from the user as input, and check if it is even or odd - print accordingly

In [31]:
n = int(input())

if n%2 == 0:
  print("even")
else:
  print("Odd")

7
Odd

In [32]:
if 56 > 60:
  print("1")
  print("2")
else:
  print("3")

3

In [33]:
if 56 < 60:
  print("1")
  print("2")
else:
  print("3")

1
2

In [34]:
print("0")

if 56 < 60:
  print("1")
  print("2")
else:
  print("3")

print("4")

0
1
2
4

In [35]:
print("0")

if 56 >= 60:
  print("1")
  print("2")
else:
  print("3")

print("4")

0
3
4

In [ ]:
#theory


#Run these always - because it is NOT part of the if-else block

if condition:
  #run this block of code ONLY when the condition is True
else:
  #run this block of code ONLY when the condition is False

#Run these always - because it is NOT part of the if-else block

In [36]:
#quiz-1

a = 4
result = a**2

if result > 25:
  print("A")
else:
  print("B")

print("C")

B
C

In [37]:
a = 6
result = a**2

if result > 25:
  print("A")
else:
  print("B")

print("C")

A
C

In [38]:
# if can exist without else

In [39]:
a = 10
if a == 10:
  print("10")

print("A")

10
A

In [40]:
a = 5
if a == 10:
  print("10")

print("A")

A

In [ ]:
#else cannot exist without if

In [41]:
else:
  print("1")

SyntaxError: ignored

In [ ]:
'''
Write a program which takes a student's marks as input.
Print "Pass" if marks are more than 35
Print "you can do better" otherwise
'''

In [42]:
marks = int(input())

40

In [43]:
if marks > 35:
  print("Pass")
else:
  print("you can do better")

Pass

In [ ]:
'''
Q1 - Take an integer as input from the user and print whether it is "positive" or "negative"

Note: consider 0 as positive
'''

In [44]:
n = int(input())

24

In [49]:
n = -5

if n >= 0:
  print("Positive")
else:
  print("Negative")

Negative

In [ ]:
'''
Q2: Take an integer as input from the user and print whether it is "positive", "negative" or "zero"

'''

In [54]:
n = 5

if n>0:
  print("Positive")
elif n<0:
  print("Negative")
else:
  print("zero")

Positive

In [ ]:
'''
Q3:
Take an integer as input:n
if ((n**5)%40) is greater than 15, then print "Black" else print "Blue"

Note: If input is not a non-negative single digit number, print "Invalid"
'''

In [55]:
if not(n >= 0 and n <= 9):
  print("Invalid")
elif ((n**5)%40) > 15:
  print("Black")
else:
  print("Blue")

Blue

In [56]:
#Grading system

In [57]:
marks = 50

In [ ]:
if marks > 95:
  print("A")
else:
  print("B")

#incorrect

In [60]:
marks = 85

if marks > 95:
  print("A")
elif (marks >= 70) and (marks <= 95):
  print("B")
elif marks >= 30 and marks <= 69:
  print("C")
elif marks < 30:
  print("D")

B

In [61]:
a = 10

if a > 5:
  print("1")


if a > 7:
  print("2")

1
2

In [62]:
a = 10

if a > 5:
  print("1")
elif a > 7:
  print("2")

1

In [ ]:
#Fizz Buzz

'''
Take an integer n as input.
if n is a multiple of only 3 --> print "Fizz"
else if n is a multiple of only 5 --> print "Buzz"
else if n is a multiple of both 3 and 5 --> print "FizzBuzz"
'''

In [63]:
N = int(input())

if N % 3 ==0 :
  print("Fizz")
elif N% 5 ==0 :
  print("Buzz")
elif N%3 == 0 and N%5==0:
  print("FizzBuzz")

3
Fizz

In [64]:
N = int(input())

if N % 3 ==0 :
  print("Fizz")
elif N% 5 ==0 :
  print("Buzz")
elif N%3 == 0 and N%5==0:
  print("FizzBuzz")

10
Buzz

In [65]:
N = int(input())

if N % 3 ==0 :
  print("Fizz")
elif N% 5 ==0 :
  print("Buzz")
elif N%3 == 0 and N%5==0:
  print("FizzBuzz")

#wrong

30
Fizz

In [67]:
N = int(input())

if  N%3 == 0 and N%5==0:
   print("FizzBuzz")
elif N% 3 ==0 :
  print("Fizz")
elif N%5==0:
  print("Buzz")

6
Fizz

In [68]:
N = int(input())

if  N%3 == 0 and N%5==0:
   print("FizzBuzz")
elif N% 3 ==0 :
  print("Fizz")
elif N%5==0:
  print("Buzz")

10
Buzz

In [69]:
N = int(input())

if  N%3 == 0 and N%5==0:
   print("FizzBuzz")
elif N% 3 ==0 :
  print("Fizz")
else:
  print("Buzz")

19
Buzz

Q5:
Take three inputs from a user which are marks in science, english and maths.
Assign the stream according to the following criteria (Bad process : - ):

1. If marks in science > 90 or marks in each of the 3 subjects are greater than or equal to 75 - print "A"

2. if marks in each of the 3 subjects are greater than or equal to 60 and less than 75 -- print "B"

3. if marks in each of the 3 subjects are less than 60 -- print "C"



Learnings:
1. Understanding the question is 50% of the problem solved.

2. Patiently reading the question

In [76]:
s = 62
e = 50
m = 50

if s > 90 or (s >= 75 and m >= 75 and e >= 75):
  print("A")
elif (s >= 60 and s < 75 ) and (m >= 60 and m < 75 ) and (e >= 60 and e < 75 ):
  print("B")
elif s < 60 and m< 60 and e<60:
  print("C")
else:
  print("None of these")

None of these

In [ ]:
# "Yes" --> Because the conditions are non-overlapping