<a href="https://colab.research.google.com/github/adityajain2407/mar23-python-fast/blob/main/may23_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 1
while i < 5:
  print(i)
  i += 1

1
2
3
4

In [3]:
x = [1, 2, 3, 4, 5]
type(x)

list

In [5]:
list(range(0,3))

[0, 1, 2]

In [6]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [7]:
print(list(range(3,7)))

[3, 4, 5, 6]

In [8]:
print(list(range(3))) #starting value is by default 0 and jump is by default 1

[0, 1, 2]

In [9]:
print(list(range(0))) #print all the numbers less than 0 starting from 0

[]

In [11]:
print(list(range(0,0)))

[]

In [12]:
x = [3, 6, 1]
len(x) #no. of elements present in the list

3

In [13]:
print(list(range(3,5)))

[3, 4]

In [14]:
len(list(range(3,5)))

2

In [15]:
print(list(range(7,8)))

[7]

In [16]:
print(list(range(-1, 3)))

[-1, 0, 1, 2]

In [17]:
print(list(range(-5, -1)))

[-5, -4, -3, -2]

In [18]:
print(list(range(-5))) #give me all the numbers less than -5 starting from 0

[]

In [19]:
i = 1
while i < 10:
  print(i)
  i += 5

1
6

In [20]:
#with step size

In [21]:
print(list(range(0,7,2)))

[0, 2, 4, 6]

In [22]:
print(list(range(0,8,2)))

[0, 2, 4, 6]

In [23]:
print(list(range(0,9,2)))

[0, 2, 4, 6, 8]

In [24]:
print(list(range(0,8,8)))

[0]

In [25]:
print(list(range(0,9,8)))

[0, 8]

In [26]:
print(list(range(0,4,1)))

[0, 1, 2, 3]

In [27]:
print(list(range(0,4)))

[0, 1, 2, 3]

In [28]:
print(list(range(4)))

[0, 1, 2, 3]

In [29]:
print(list(range(5,2,-1)))

[5, 4, 3]

In [30]:
print(list(range(2,5,-1)))

[]

In [31]:
print(list(range(-1,-5,-1)))

[-1, -2, -3, -4]

In [ ]:
'''
N --> input from the user.

Q - Print all the numbers from 1 to N using for loop

'''

In [32]:
n = 5

for i in range(1, n):
  print(i)

1
2
3
4

In [33]:
n = 5

for i in range(1, n+1):
  print(i)

1
2
3
4
5

In [34]:
n = 5

for i in range(1, n+1):
  print(i)

print("A")

1
2
3
4
5
A

In [35]:
n = 5

for i in range(1, n+1):
  print(i)
  print("A")

1
A
2
A
3
A
4
A
5
A

In [ ]:
#Print all the even numbers from 1 to n using for loop (include the last element as well)
# print all the even numbers from 1 to 10 using for loop ()
n= 10

In [36]:
#v1
n = 10
for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
#v1
n = 10
for i in range(1, n+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
#v1
n = 10
for i in range(1, n+1):
  if i%2 == 0:
    print(i)

2
4
6
8
10

In [39]:
#v1
n = 11
for i in range(1, n+1):
  if i%2 == 0:
    print(i)

2
4
6
8
10

In [40]:
#v2
n = 11
for i in range(1, n+1, 2):
  print(i)

1
3
5
7
9
11

In [41]:
#v2
n = 11
for i in range(2, n+1, 2):
  print(i)

2
4
6
8
10

In [42]:
for i in range(5,1,-1):
  print(i)

5
4
3
2

In [ ]:
'''
Given a value n, print all the numbers from 2 to n - each separated by a space--> do using both the loops

n = 6
op: 2 3 4 5 6

'''

In [43]:
n = 6
#while loop

j = 2

while j <= 6:
  print(j, end = " ")
  j += 1

2 3 4 5 6

In [45]:
#for loop

for j in range(2, n+1):
  print(j, end = " ")

2 3 4 5 6

In [46]:
n = 5
for elem in range(1,n):
  print(n)

5
5
5
5

In [47]:
n = 5
for elem in range(1,n):
  print(elem)

1
2
3
4

In [48]:
for i in range(5, 1, -2):
  print(i, end = " ")

5 3

In [ ]:
'''
Print all the numbers from n to 1 where n > 1 --> do this using for loop

eg:
n = 5
5 4 3 2 1

n = 7
7 6 5 4 3 2 1
'''

In [49]:
n = 5

for j in range(n, 1, -1):
  print(j ,end = " ")

5 4 3 2

In [50]:
n = 5

for j in range(n, 0, -1):
  print(j ,end = " ")

5 4 3 2 1

In [51]:
n = 7

for j in range(n, 0, -1):
  print(j ,end = " ")

7 6 5 4 3 2 1

In [ ]:
'''
Print all the numbers from N to 1 where n > 1

eg:
n = 5
5 4 3 2 1

n = 7
7 6 5 4 3 2 1

Note: Solve this using for loop without negative jump
'''

In [52]:
n = 5

for i in range(n):
  print(n-i, end = " ")

5 4 3 2 1

In [53]:
for i in range(-5,0):
  print(i, end = " ")

-5 -4 -3 -2 -1

In [54]:
for i in range(-5,0):
  print(-1*i, end = " ")

5 4 3 2 1

In [56]:
#hacky
n = 7
for i in range(-1*n,0):
  print(-1*i, end = " ")

7 6 5 4 3 2 1

In [ ]:
'''
Given n, Write a program to calculate the sum of all the numbers from 1 to n - using for LOOP

eg;
n = 5
op: 5 + 4 + 3 + 2 + 1 = 15

n = 7
op: 28
'''

In [58]:
n = 7
sum = 0
for i in range(1, n+1):
  print(sum)
  sum = sum + i

0
1
3
6
10
15
21

In [59]:
n = 7
sum = 0
for i in range(1, n+1):
  sum = sum + i

print(sum)

28

In [ ]:
'''
Q1: Write a loop to print the following exact output: (using for loop)
Op: 1, 4, 7, 10, 13, 16
'''

In [60]:
for i in range(1, 17, 3):
  print(i)

1
4
7
10
13
16

In [61]:
for i in range(1, 17, 3):
  print(i, end = ", ")

1, 4, 7, 10, 13, 16,

In [63]:
for i in range(1, 17, 3):
  if i < 16:
    print(i, end = ", ")
  else:
    print(i, end = "")

1, 4, 7, 10, 13, 16

In [64]:
i = 1

while i < 17:
  if i < 16:
    print(i, end = ", ")
  else:
    print(i, end = "")

  #updation
  i = i + 3

1, 4, 7, 10, 13, 16

In [ ]:
'''
HW: Write a while loop to print the following numbers:
Exact output:
1, 3, 7, 13, 21, 31, 43
'''

In [65]:
#doubt

for i in range(1, 17, 3):
  if i < 16:
    print(i, end = ", ")
  else:
    print(i)

print("A")

1, 4, 7, 10, 13, 16
A